@font-face {
  font-family: "FiraCode";
  src: url("/FiraCode.ttf") format("ttf");
}
:root {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d0217;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.theme {
  color: red;
  background-color: #02170f;
}

button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(0, 0%, 10%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  background-color: hsl(0, 0%, 10%);
}
